@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--white);
    font-family: 'Poppins', sans-serif;
}

html { font-size: 62.5%; }

:root{
    --white: #f6f6f6;
    --red: #ee2b47;
    --primary: #2c2e3e;
    --secondary: #34374c;
}

::-webkit-scrollbar{
    width: 12px;
}

::-webkit-scrollbar-track{
    background: var(--primary);
    border-radius: 8px;
}

::-webkit-scrollbar-thumb{
    background: var(--red);
    border-radius: 8px;
}