@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #F2E6D8;
    font-family: 'Poppins', sans-serif;
    max-height: 80vh;
}

::-webkit-scrollbar{
    width: 10px;
}

::-webkit-scrollbar-track{
    background: #4AB0D9;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb{
    background: #1E1D40;
    border-radius: 10px;
}