.footer {
    background-color: #1B65A6;
    bottom: -10px;
    color: #fff;
    font-size: 1.5rem;
    height: 50px;
    padding: 10px;
    position: fixed;
    text-align: right;
    width: 100%;
}

.footer p a {
    color: #1E1D40;
    text-decoration: none;
    padding-right: 10px;
}