.header {
    background-color: var(--primary);
    height: auto;
    padding: 16px 0;
}

.header-menu{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

.header-Item {
    text-align: center;
    border-radius: 12px;
    color: var(--white);
    padding: 12px;
    transition: all 1s;
    width: 250px;
}

.headerItem-icon{
    height: 16px;
}

.hidden {
    margin-right: 10%;
    display: none;
}
.hidden:hover {
    cursor: pointer;
    margin-right: 10%;
    opacity: 0.5;
}

.header-Item:hover{
    background-color: var(--secondary);
}

@media (min-width: 320px) {
    .header{
        display: flex;
        justify-content: flex-end;
        height: 70px;
    }

    .header-menu{
        display: flex;
        left: 100%;
        overflow-y: auto;
        position: fixed;
        top: 50px;
        transition: left 0.3s;
        width: 100%;
    }

    .active {
        flex-direction: column;
        align-items: center;
        display: block;
        position: absolute;
        left: 0;
        top: 50px;
        z-index: 1;
    }

    .hidden {
        display: inline;
    }

    .header-Item {
        margin: 0 auto;
    }
    
    .hidden-img {
        animation-duration: 0.5s;
        animation-name: slidein;
        margin-top: 40%;
        height: 20px;
    }
}

@media (min-width: 768px) {
    .header{
        align-items: center;
        height: 110px;
    }

    .header-menu{
        display: flex;
        left: 0;
        top: 10px;
        width: 100%;
    }

    .hidden {
        display: none;
    }
    .header-Item {
        font-size: 1.6rem;
        width: 300px;
    }
}

@media (min-width: 1024px) {
    .header{
        height: 70px;
    }
    .header-Item {
        width: 200px;
    }
}

@keyframes slidein {
    0% {
        opacity: 0;
        transform: rotate(45deg);
    }

    50% {
        opacity: 0.5;
        transform: rotate(-90deg);
    }
  
    100% {
        opacity: 1;
        transform: rotate(0);
    }
  }