.header {
    background-color: #1b65a6;
    height: auto;
    padding: 10px 0;
}

.header-menu{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

.header-Item {
    text-align: center;
    border: solid 1px rgba(30, 28, 63, 0.1);
    border-radius: 10px;
    color: #fff;
    padding: 10px;
    transition: all 1s;
    width: 200px;
}

.headerItem-icon{
    height: 15px;
}

.hidden {
    margin-right: 10%;
    display: none;
}
.hidden:hover {
    cursor: pointer;
    margin-right: 10%;
    opacity: 0.5;
}

.header-Item:hover{
    background-color: #1E1D40;
}



@media (max-width: 480px) {
    .header{
        display: flex;
        justify-content: flex-end;
        /* display: grid; */
    }

    .header-menu{
        display: flex;
        background-color: #1b65a6;
        left: 100%;
        overflow-y: auto;
        position: fixed;
        top: 50px;
        transition: left 0.3s;
        width: 100%;
    }

    .active {
        flex-direction: column;
        align-items: center;
        display: block;
        position: absolute;
        left: 0;
        top: 50px;
        z-index: 1;
    }

    .hidden {
        display: inline;
    }

    .header-Item {
        margin: 10px auto;
    }
    
    .hidden-img {
        animation-duration: 0.5s;
        animation-name: slidein;
        margin-top: 40%;
        height: 20px;
    }
}



@keyframes slidein {
    0% {
        opacity: 0;
        transform: rotate(45deg);
    }

    50% {
        opacity: 0.5;
        transform: rotate(-90deg);
    }
  
    100% {
        opacity: 1;
        transform: rotate(0);
    }
  }