.loadingContainer{
    color: #000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 230px);
}

.loadingContainer .text-charging {
    display: inline;
    animation-name: loadign;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@media (min-width: 320px) {
    .loadingContainer{
        font-size: 2rem;
        margin-left: 100px;
        width: calc(100vw - 100px);
    }
}

@media (min-width: 768px) {
    .loadingContainer{
        font-size: 5rem;
        margin-left: 230px;
        width: calc(100vw - 230px);
    }
    
}

@keyframes loadign {
    0% {
        opacity: 0;
    }
    25%{
        opacity: 0.4;
    }
    50%{
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
  }