.matches{
    color: var(--white);
    display: flex;
    font-size: 20px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 25%;
    padding: 10px 16px;
    width: 75%;
    height: 90vh;
    overflow: auto;
}


@media (min-width: 320px) {
    .matches{
        margin-left: 100px;
        height: calc(100vh - 110px);
        width: calc(100vw - 100px);
    }
}

@media (min-width: 768px) {
    .matches{
        margin-left: 230px;
        height: calc(100vh - 140px);
        width: calc(100vw - 230px);
    }
}