.matches{
    color: #F7F6F2;
    display: flex;
    font-size: 20px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 25%;
    max-width: 75vw;
    padding: 10px 16px;
    width: calc(100% - 100px);
    height: 75vh;
    overflow: auto;
}

@media (max-width: 700px) {
    .matches{
        font-size: 15px;
        margin-left: 100px;
        max-width:100vw;
        height: 74vh;
        width: calc(100% - 100px);
    }

}

@media (max-width: 480px) {
    .matches{
        height: 85vh;
        margin-left: 100px;
        width: calc(100% - 100px);
    }

}