.score{
    border-radius: 50px;
    background: #F2E6D8;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    border-radius: 20px;
    color: #000;
    text-align: center;
    margin: 10px;
    padding: 5px;
    width: 45%;
}

@media (min-width: 320px) {
    .score{
        width: 100%;
    }

    .matches .score p {
        font-size: 1.5rem;
    }
}

@media (min-width: 768px) {
    .score{
        width: 45%;
    }

    .matches .score p {
        font-size: 1.7rem;
    }
}