.sidebarElement {
    align-items: center;
    border: 0;
    border-radius: 20px;
    background: linear-gradient(45deg, #383b51, #2f3244);
    box-shadow:  5px -5px 10px #2b2d3e,
                -5px 5px 10px #3d415a;
    color: var(--white);
    cursor: pointer;
    display: flex;
    font-family: 'Poppins', sans-serif;
    font-size: 1.5rem;
    justify-content: space-between;
    margin: 8px;
    padding: 16px;
    text-decoration: none;
    transition: all 1s;
}

.iconTeam {
    height: 24px;
}

.sidebarElement:hover {
    background: var(--primary);
    /* Usar este efecto para una clase selecionada
    background: #D90D32;
    box-shadow: inset 7px 7px 14px #b60b2a,
                inset -7px -7px 14px #fc0f3a; */
}

@media (min-width: 320px) {
    #standings p{
        font-size: 1rem;
        align-self: center;
        display: block;
    }

    .teamTitle{
        display: none;
    }
}

@media (min-width: 768px) {
    .teamTitle{
        font-size: 1.7rem;
        display: inline;
    }
    #standings p{
        font-size: 1.7rem;
    }
}