.sidebarElement {
    align-items: center;
    border: 0;
    border-radius: 30px;
    background: linear-gradient(145deg, #e80e36, #c30c2d);
    box-shadow:  7px 7px 14px #b60b2a,
                  -7px -7px 14px #fc0f3a;
    color: #F7F6F2;
    cursor: pointer; 
    display: flex;
    font-family: 'Poppins', sans-serif;
    font-size: 1.5rem;
    justify-content: space-between;
    margin: 0.7rem;
    padding: 2rem;
    text-decoration: none;
    transition: all 1s;
}

.iconTeam {
    height: 24px;
}

.sidebarElement:hover {
    background: #1E1D40;
    /* Usar este efecto para una clase selecionada
    background: #D90D32;
    box-shadow: inset 7px 7px 14px #b60b2a,
                inset -7px -7px 14px #fc0f3a; */
}

@media (min-width: 320px) {
    .teamTitle{
        display: none;
    }
}

@media (min-width: 768px) {
    .teamTitle{
        display: inline;
    }
}