.sideBar {
    background-color: #D90D32;
    color: #F7F6F2;
    display: flex;
    flex-direction: column;
    font-size: 17px;
    /* height: 100%; */
    height: calc(100% - 100px);
    margin: 0;
    overflow: auto;
    padding: 0;
    position: fixed;
    width: 25%;
}

@media (max-width: 700px) {
    .sideBar {
        height: calc(100% - 150px);
        width: 100px;

    }
}

@media (max-width: 480px) {
    .sideBar {
        height: calc(100% - 96px);
        width: 100px;

    }
}